@{
    ViewData["Title"] = "Thảo Linh Shop";
}



<div class="container" style="margin-top:20vh; padding:15px">
    <h1>
        Chào mừng quý khách @Context.User.Identity.Name đến với shop Thảo Linh !
    </h1>
</div>