
@{
    ViewData["Title"] = "Thông tin khách hàng";
}

<h1>Profile</h1>



<div class="container">
    <h2> Thông tin khách hàng @Context.User.Identity.Name </h2>
    <a asp-action="DangXuat" asp-controller=""> Đăng Xuất</a>

</div>