
@{
    ViewData["Title"] = "Thông tin khách hàng";
}





<div class="container" style="margin-top:20vh">
    <h2> Thông tin khách hàng @Context.User.Identity.Name </h2>
    <a asp-action="DangXuat" asp-controller="KhachHang"> Đăng Xuất</a>

</div>